<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classic Models Shop</title>
    <link th:href="@{/css/bulma.min.css}" rel="stylesheet">
</head>
<body>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Classic Models
            </h1>
            <h2 class="subtitle">
                Office info
            </h2>
        </div>
    </div>
</section>

<div class="container">
    <div class="block"></div>
    <div class="block">
        <p></p>
    </div>
    <div class="notification block">
        <h5 class="is-size-5">Office Workers</h5>
    </div>
    <table class="table">
        <tr>
            <th>Order Number</th>
            <th>Order Date</th>
            <th>Required Date</th>
            <th>Shipped Date</th>
            <th>Status</th>
            <th>Comments</th>
        </tr>
        <tr th:each="order: ${orders}">
            <td th:text="${order.orderNumber}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.requiredDate}"></td>
            <td th:text="${order?.shippedDate}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order?.comments}"></td>
        </tr>
    </table>
</div>
</body>
</html>